<section class="custom-product-slider-section">
    {%- if section.settings.title != blank -%}
        <h2 class="title product-slider-title scroll-trigger animate--slide-in">
            {{ section.settings.title }}
        </h2>
    {%- endif -%}

    {%- if section.settings.collection != blank -%}
        {% assign collection = collections[section.settings.collection] %}
        {%- if collection.products.size > 0 -%}
            <div class="product-slider">
                {%- for product in collection.products -%}
                    <div class="product-slider-item">
                        <a href="{{ product.url }}">
                            <img 
                                srcset="
                                  {%- if product.featured_image.width >= 165 -%}{{ product.featured_image | img_url: width: 165 }} 165w,{%- endif -%}
                                  {%- if product.featured_image.width >= 360 -%}{{ product.featured_image | img_url: width: 360 }} 360w,{%- endif -%}
                                  {%- if product.featured_image.width >= 533 -%}{{ product.featured_image | img_url: width: 533 }} 533w,{%- endif -%}
                                  {%- if product.featured_image.width >= 720 -%}{{ product.featured_image | img_url: width: 720 }} 720w,{%- endif -%}
                                  {%- if product.featured_image.width >= 940 -%}{{ product.featured_image | img_url: width: 940 }} 940w,{%- endif -%}
                                  {%- if product.featured_image.width >= 1066 -%}{{ product.featured_image | img_url: width: 1066 }} 1066w,{%- endif -%}
                                  {{ product.featured_image | img_url }} {{ product.featured_image.width }}w
                                "
                                src="{{ product.featured_image | img_url: width: 1066 }}"
                                sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                                alt="{{ product.title }}"
                                class="motion-reduce"
                                loading="lazy"
                                width="{{ product.featured_image.width }}"
                                height="{{ product.featured_image.height }}"
                            >
                            <h3>{{ product.title }}</h3>
                            <span>{{ product.price | money }}</span>
                        </a>
                    </div>
                {%- endfor -%}
            </div>
            <button type="button" class="slick-prev"><svg class="your-custom-svg-prev" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M15 18l-6-6 6-6"/></svg></button>
            <button type="button" class="slick-next"><svg class="your-custom-svg-next" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M9 18l6-6-6-6"/></svg></button>
        {%- else -%}
            <p>No products found in this collection.</p>
        {%- endif -%}
    {%- endif -%}
</section>

{% schema %}
{
  "name": "Product Slider",
  "settings": [
    {
      "type": "inline_richtext",
      "id": "title",
      "default": "t:sections.featured-collection.settings.title.default",
      "label": "t:sections.featured-collection.settings.title.label"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "t:sections.featured-collection.settings.collection.label"
    }
  ],
  "presets": [
    {
      "name": "Product Slider"
    }
  ]
}
{% endschema %}

<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Slick Slider CSS -->
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick-theme.css"/>

<!-- Slick Slider JS -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick.min.js"></script>

<script type="text/javascript">
  $(document).ready(function(){
    $('.product-slider').slick({
      dots: true,
      infinite: true,
      speed: 300,
      slidesToShow: 4,
      slidesToScroll: 4,
      nextArrow: '<button type="button" class="slick-next"><svg class="your-custom-svg-next" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M9 18l6-6-6-6"/></svg></button>',
      prevArrow: '<button type="button" class="slick-prev"><svg class="your-custom-svg-prev" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M15 18l-6-6 6-6"/></svg></button>',
      responsive: [
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 3,
            infinite: true,
            dots: true
          }
        },
        {
          breakpoint: 600,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2
          }
        },
        {
          breakpoint: 480,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2
          }
        }
      ]
    });
  });
</script>
